/* Estilo para o rodapé */
.rodape {
    position: fixed; /* Para manter a barra sempre no final da página */
    bottom: 0; /* Gruda no final da tela */
    width: 100%; /* Ocupa toda a largura */
    height: 7%;
    background-color: rgb(202, 7, 49); /* Cor de fundo vermelha */
    text-align: center; /* Centraliza o texto */
    color: white; /* Cor do texto */
    padding: 10px 0; /* Espaçamento interno para o texto */
    font-size: 17px; /* Tamanho da fonte */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}