/* Modo claro (padrão) */
.container {
    background-color: rgba(255, 255, 255, 0.9); /* Caixa branca com leve transparência */
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin: 80px auto;
    animation: fadeIn 0.5s;
}


/* Animação de Fade In */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo do título */
h1 {
    margin-bottom: 20px;
    color: #212121;
    font-weight: 600;
    font-size: 24px;
}

/* Estilo das labels */
label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

/* Estilo dos inputs */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #fdc94c;
    box-shadow: 0 0 5px rgba(253, 201, 76, 0.5);
    outline: none;
}

/* Estilo do botão */
button {
    background-color: #e29b15;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
}

button:hover {
    background-color: #c77a12;
    transform: translateY(-2px);
}

/* Estilo do parágrafo */
.pbody {
    margin-top: 20px;
}

.pbody a {
    color: #e29b15;
    text-decoration: none;
}

.pbody a:hover {
    text-decoration: underline;
}

/* Modo escuro */
body.dark .container {
    background-color: rgba(13, 27, 42, 0.9); /* Fundo azul escuro com leve transparência */
    color: white;
}

body.dark h1,
body.dark label,
body.dark .pbody,
body.dark .navbar a {
    color: white;
}

body.dark input {
    background-color: #1a2a3a;
    color: white;
    border: 1px solid #fdc94c;
}

body.dark button {
    background-color: #c77a12;
}

body.dark .pbody a {
    color: #fdc94c;
}
