body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #212121;
    min-height: 100vh;
    transition: .5s;
    box-sizing: border-box;
}

h1{
    color: #fff;
    font-size: 1.0em;
}

label{
    color: #fff;
}



#inicio{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search{
    width: 100%;
    padding: 5%;
    /* tira o contorno quando coloca o mouse */
    outline: none;
    border: 2px solid #333;
    /* arrendonda borda */
    border-radius: 7px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);

    /* recriando borda igual da pokedex */
    
    box-shadow: -3px 3px 0 #727272, -5px 6px 0 #333;
}

.scroll-container {
    width: 300px;         /* Largura do contêiner */
    height: 400px;        /* Altura do contêiner */
    overflow: auto;       /* Adiciona rolagem se necessário */
    border: 1px solid #ccc; /* Opcional: borda para visualização */
    padding: 10px;       /* Espaçamento interno */
}

/* Para navegadores baseados em WebKit (Chrome, Safari) */
.scroll-container::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor ao passar o mouse */
}