body{
    text-align: center;
    /* degrade para baixo, do azul para o branco */
    background: linear-gradient(to bottom, #0d8aad, #ffffff);
    min-height: 100vh;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

/* estiliza a pokedex */
.pokedex{
    width: 100%;
    max-width: 425px;
}

/* estiliza o gif */
.poke_img{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 12%;
}

/* estiliza nome e número */
.poke_data{
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 25px);
}

/* estiliza apenas o nome */
.poke_name{
    color: #3a444d;
    /* faz apenas a primeira letra ficar maiuscula */
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search{
    width: 100%;
    padding: 5%;
    /* tira o contorno quando coloca o mouse */
    outline: none;
    border: 2px solid #333;
    /* arrendonda borda */
    border-radius: 7px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);

    /* recriando borda igual da pokedex */
    
    box-shadow: -3px 3px 0 #727272, -5px 6px 0 #333;
}

.buttons{
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    /* distância entre os botôes */
    gap: 20px;
}

.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

